$dark-gray: #585858;
$tana: #bdba9c;
$khaki: #f0e68c;
$west-coast: #64551f;
$highball: #90813b;
$sandstone: #7b6d5c;
$schooner: #8b8378;
$spice: #66543e;
$madras: #4c3b25;
$onion: #33250d;
$woodrush: #332915;
$jacko-bean: #2e1c08;
$acadia: #1e1205;
$crowshead: #1a130a;

$color__background-body: $crowshead;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: $tana;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$themeset: (
    default:(
        'foreground': yellow,
        'background': red,
        'accent': orange,
        'border': green

    ),
    bw:(
        'foreground': white,
        'background': green,
        'accent': yellow,
        'border': red

    ),
    primary:(
        'foreground': $tana,
        'background': $crowshead,
        'accent': $khaki,
        'border': $tana
    ),
    secondary:(
        'foreground': $tana,
        'background': $west-coast,
        'accent': $khaki,
        'border': $tana
    ),
    form:(
        'foreground': $tana,
        'background': $sandstone,
        'accent': $khaki,
        'border': $onion
    ),
);

